# git 不会对已经忽略的目录进行递归扫描
# # 忽略所有文件
# *
# 
# # 保留工程管理文件
# !*.xpr
# 
# # 保留源码
# !*.v
# !*.xdc

# 忽略Vivado生成的各种文件夹和文件
**/*.cache/
**/*.hw/
**/*.ip_user_files/
**/*.runs/
**/*.sim/
**/*.jou
**/*.log
**/*.dmp
**/*.backup

# 但保留源码和工程文件
!**/*.v
!**/*.xdc
!**/*.xpr
